:root {
  --panel-bg: rgb(148 163 184); /* bg-slate-400 */
  --btn-primary-bg: rgb(71 85 105); /* bg-slate-600 */
  --btn-primary-bg-hover: rgb(51 65 85); /* bg-slate-700 */
  --btn-primary-text: rgb(226 232 240); /* text-slate-200 */
  --btn-border-radius: 0.5rem; /* rounded-lg */
}
