@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './colors.css';

@layer base {
  a {
    @apply text-sky-800;
  }

  a:hover {
    @apply text-sky-800 underline;
  }
}

@layer components {
  .bg-panel {
    background-color: var(--panel-bg);
  }

  .btn {
    @apply inline-block p-2 font-bold shadow-md transition duration-150 ease-in-out;
    background-color: var(--btn-primary-bg);
    color: var(--btn-primary-text);
    border-radius: var(--btn-border-radius);

    &:hover,
    &.hover {
      background-color: var(--btn-primary-bg-hover);
    }
  }
}
