@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './colors.css';

@layer base {
  /* Override the blue set by @tailwindcss/forms*/
  [type='text']:focus,
  [type='email']:focus,
  [type='url']:focus,
  [type='password']:focus,
  [type='number']:focus,
  [type='date']:focus,
  [type='datetime-local']:focus,
  [type='month']:focus,
  [type='search']:focus,
  [type='tel']:focus,
  [type='time']:focus,
  [type='week']:focus,
  [multiple]:focus,
  textarea:focus,
  select:focus {
    --tw-ring-color: var(--btn-primary-bg);
    border-color: var(--btn-primary-bg);
  }

  input,
  textarea,
  select {
    @apply text-gray-900;
  }

  a {
    @apply text-sky-800;
  }

  a:hover {
    @apply text-sky-800 underline;
  }
}

@layer components {
  .bg-panel {
    background-color: var(--panel-bg);
    color: var(--panel-text);
  }

  .btn {
    @apply inline-block p-2 font-bold shadow-md transition duration-150 ease-in-out;
    background-color: var(--btn-primary-bg);
    color: var(--btn-primary-text);
    border-radius: var(--btn-border-radius);

    &:hover,
    &.hover {
      background-color: var(--btn-primary-bg-hover);
    }
  }

  .btn-secondary {
    @apply btn;
    background-color: var(--btn-secondary-bg);
    color: var(--btn-secondary-text);

    &:hover,
    &.hover {
      background-color: var(--btn-secondary-bg-hover);
    }

    &.active {
      background-color: var(--btn-primary-bg);
    }
  }

  .btn-rounded {
    @apply rounded-full;
  }

  /* For the send button in ChatPanel */
  .btn-in-input {
    @apply text-gray-600;
    &:hover {
      color: var(--btn-primary-bg-hover);
    }
    &[disabled],
    &[disabled]:hover {
      @apply text-gray-600;
    }
  }
}
